<div class="overlay" id="embed-overlay">
    <div class="embed-legend">
        <span>REFERENCIAS</span>
        <div class="embed-legend-container">
            <div class="embed-legend-map">
                <h3 class="orgs">Organizaciones</h3>
            </div>
            <div class="embed-legend-network">
                <h3 class="orgs">Organizaciones</h3>
                <h3 class="prjs">Proyectos</h3>
            </div>
        </div>
    </div>
    <div class="embed-cta">
        <span><a href="https://digitalsocial.eu/viz/" target="_blank"><button>Explore toda la red</button></a></span>
    </div>
</div>