<div id="filters-container">
    <section class="view-settings">
        <section id="settings-map" class='settings-panel'>
            <h2 class="settings-title"> Mapa </h2>
            <div class="settings-item" id="map-show-connections">
                <div class="checkbox active">
                    <div process="img/ui/icon-check.svg" class="icon-check" process-keep></div>
                </div>
                <div class="settings-name">
                    <!-- <p class="settings-title">Show connections</p> -->
                    <p class="settings-description">Mostrar vínculos entre organizaciones relacionadas</p>
                    <p class="map-settings-zoom">(hacer clic en la lupa para habilitar)</p>
                </div>
            </div>
        </section>
        <section id="settings-network" class='settings-panel'>
            <h2 class="settings-title">Redes</h2>
            <div class="settings-item"  id="network-linked-only">
                <div class="checkbox active">
                    <div process="img/ui/icon-check.svg" class="icon-check" process-keep></div>
                </div>
                <div class="settings-name">
                    <p class="settings-title">Vista completa de la red.</p>
                    <p class="settings-description">Incluye a las organizaciones que no comparten proyectos</p>
                </div>
            </div>
        </section>
        <section id="settings-cluster" class='settings-panel'>
            <h2 class="settings-title">Grupos</h2>
            <div class="settings-item">
                <div>
                    <p class="settings-title">Agrupar por</p>
                    <select id="cluster-group-by">
                        <option value="focus">Tecnología foco</option>
                        <option value="support_tags">Área temática</option>
                        <option value="technology">Tecnología</option>
                        <option value="linked_orgs">Organización</option>
                        <option value="countries" selected="selected">País</option>
                    </select>
                </div>
                <div>
                    <p class="settings-title">Subdividir por</p>
                    <select id="cluster-subdivide-by">
                        <option value="none">Ninguno</option>
                        <option value="focus">Tecnología foco</option>
                        <option value="support_tags">Área temática</option>
                        <option value="technology">Tecnología</option>
<!--                         <option value="linked_organisation_ids">Organisation</option>
                        <option value="countries">Country</option> -->
                    </select>
                </div>
            </div>
        </section>
    </section>
    <section class="view-filters">
        <h2>Filtros</h2>
        <p class="center-text"><button id="clear-all-filters">Limpiar todo</button></p>
        <div class="filter-sections">
            <section class="filters" id="filter-support_tags">
                <div class="tags-container">
                    <h3>Área temática<span class="filters-count"></span></h3>
                    <ul class="tags-list">
                    </ul>
                </div>
                <div process="img/ui/icon-add.svg" process-keep class="add-tags" ></div>
            </section>
            <section class="filters" id="filter-technology">
                <div class="tags-container">
                    <h3>Tecnología<span class="filters-count"></span></h3>
                    <ul class="tags-list">
                    </ul>
                </div>
                <div process="img/ui/icon-add.svg" process-keep class="add-tags" ></div>
            </section>
            <section class="filters" id="filter-networkTags">
                <div class="tags-container">
                    <h3>Etiquetas de red<span class="filters-count"></span></h3>
                    <ul class="tags-list">
                    </ul>
                </div>
                <div process="img/ui/icon-add.svg" process-keep class="add-tags" ></div>
            </section>
            <section class="filters" id="filter-organisation_type">
                <div class="tags-container">
                    <h3>Tipo de Organización<span class="filters-count"></span></h3>
                    <ul class="tags-list">
                    </ul>
                </div>
                <div process="img/ui/icon-add.svg" process-keep class="add-tags" ></div>
            </section>
        </div>
    </section>
</div>
