<div class="tools-container info-container" id="info-network">
	<section class="textbox">
		<h2>Redes</h2>
		<p>Explora los vínculos entre las organizaciones y los proyectos. Arrastrá y hacé clic en una red para ver las organizaciones y los proyectos que la componen.</p>
	</section>
	<section class="legenda">
		<h2>Referencias y estadísticas</h2>
		<section class="network-stats-item network-stats-orgs">
			<h3>Organizaciones</h3>
			<div class="stats-caption">Organizaciones vinculadas<span></span></div>
			<div class="stats-paragraph"></div>
			<div class="stats-bar">
				<div class="color"></div>
				<div class="background"></div>
			</div>
		</section>
		<section class="network-stats-item network-stats-prjs">
			<h3>Proyectos</h3>
			<div class="stats-caption">Proyectos colaborativos <span></span></div>
			<div class="stats-paragraph"></div>
			<div class="stats-bar">
				<div class="color"></div>
				<div class="background"></div>
			</div>
		</section>
	</section>
</div>