<div class="tools-container share-container" id="tools-share">
	<div id="share-social">
		<h2>Compartir</h2>
		<div class="share-social-text">Comparte la vista actual con los filtros y el zoom que aplicaste.</div>
		<div class="share-social-buttons">
			<div class="share-icon" id="facebook-icon" process="img/ui/icon-facebook.svg" process-keep></div>
			<div class="share-icon" id="twitter-icon" process="img/ui/icon-twitter.svg" process-keep></div>
		</div>
	</div>
	<div id="share-embed">
		<h2>Embeber</h2>
		<div class="share-embed-text">Copia y pega este link para embeber la vista actual en tu sitio.</div>
		<div class="embed-items">
			<input type="text" class="embed-textfield"></input>
			<button>copiar</button>
		</div>
	</div>
</div>